Analyze Constant Wavelength Dataset-Copy1.ipynb
Analyze Quick Scans-Copy1.ipynb
Basic computations.ipynb
Dark signal-old.ipynb
Dark signal.ipynb
Develop Doppler Correction.ipynb
Doppler factor.ipynb
File read test.ipynb
Read Dataset v2.ipynb
Read Dataset.ipynb
Verify Dark Correction.ipynb
Verify Distance Correction.ipynb
Verify Doppler Correction.ipynb
lasp.py.2018apr18
lasp.pyc
lasp.py~
